CSR01#show run
Building configuration...

Current configuration : 2192 bytes
!
! Last configuration change at 10:14:05 UTC Tue Nov 21 2017 by dgee
!
version 15.3
service config
service timestamps debug datetime msec
service timestamps log datetime msec
no platform punt-keepalive disable-kernel-core
platform console virtual
!
hostname CSR01
!
boot-start-marker
boot-end-marker
!
!
vrf definition Mgmt-intf
 !
 address-family ipv4
 exit-address-family
 !
 address-family ipv6
 exit-address-family
!
!
no aaa new-model
!
!
!
!
!


!
!
!
!
!
!
!
!
!
!
multilink bundle-name authenticated
!
!
!
username dgee privilege 15 password 0 Passw0rd
!
redundancy
 mode none
!
!
!
ip scp server enable
!
!
!
!
interface Loopback0
 ip address 10.30.0.1 255.255.255.255
!
interface GigabitEthernet1
 description VMNIC6
 ip address 192.168.10.2 255.255.255.0
 negotiation auto
!
interface GigabitEthernet2
 description VMNIC7
 ip address 192.168.20.2 255.255.255.0
 negotiation auto
!
interface GigabitEthernet0
 vrf forwarding Mgmt-intf
 ip address 172.16.10.127 255.255.255.0
 negotiation auto
!
router bgp 30
 bgp router-id 10.30.0.1
 bgp log-neighbor-changes
 neighbor 192.168.10.3 remote-as 10
 neighbor 192.168.20.3 remote-as 10
 !
 address-family ipv4
  redistribute connected
  redistribute static
  neighbor 192.168.10.3 activate
  neighbor 192.168.10.3 route-map INBOUND in
  neighbor 192.168.20.3 activate
  neighbor 192.168.20.3 route-map INBOUND in
 exit-address-family
!
!
virtual-service csr_mgmt
 activate
!
ip forward-protocol nd
!
no ip http server
no ip http secure-server
ip route 0.0.0.0 0.0.0.0 172.16.10.1
ip route 172.16.0.0 255.255.0.0 172.16.10.1
ip route vrf Mgmt-intf 172.16.0.0 255.255.0.0 172.16.10.1
!
!
ip prefix-list INBOUND seq 5 permit 10.10.10.0/24
ip prefix-list INBOUND seq 10 permit 10.10.20.0/24
ip prefix-list INBOUND seq 15 permit 10.10.1.1/32
ip prefix-list INBOUND seq 20 permit 10.10.2.1/32
!
route-map INBOUND permit 10
 match ip address prefix-list INBOUND
!
route-map INBOUND deny 1000
!
!
!
control-plane
!
!
line con 0
 stopbits 1
line aux 0
 stopbits 1
line vty 0 4
 exec-timeout 35791 0
 absolute-timeout 10000
 login local
line vty 5 97
 exec-timeout 35791 0
 absolute-timeout 10000
 login local
!
onep
 transport type tipc
!
end
