version 12.1X44.3;
system {
    root-authentication {
        encrypted-password "$1$2Rwd6IkG$CVOr.MZ1owyefZIcGlq9W."; ## SECRET-DATA
    }
    login {
        user dgee {
            uid 2000;
            class super-user;
            authentication {
                encrypted-password "$1$5VqHn/qK$Gt/4uhQTPeQNQ/q/40EML1"; ## SECRET-DATA
            }
        }
    }
    services {
        ssh {
            root-login allow;
        }
        netconf {
            ssh;
        }
    }
}
interfaces {
    ge-0/0/0 {
        unit 0 {
            family inet {
                address 172.16.10.126/24;
            }
        }
    }
    ge-0/0/1 {
        unit 0 {
            family inet {
                address 192.168.10.1/24;
            }
        }
    }
    ge-0/0/2 {
        unit 0 {
            family inet {
                address 192.168.20.1/24;
            }
        }
    }
    lo0 {
        unit 0 {
            family inet {
                address 10.20.0.1/32;
            }
        }
    }
}
routing-options {
    static {
        route 172.16.0.0/16 next-hop 172.16.10.1;
    }
    aggregate {
        route 10.20.0.0/24;
    }
    router-id 10.20.0.1;
    autonomous-system 20;
}
protocols {
    bgp {
        family inet {
            unicast;
        }
        group AS10 {
            neighbor 192.168.10.3 {
                import INBOUND;
                export OUTBOUND;
                peer-as 10;
            }
            neighbor 192.168.20.3 {
                import INBOUND;
                export OUTBOUND;
                peer-as 10;
            }
        }
    }
}
policy-options {
    prefix-list INBOUND {
        10.10.1.1/32;
        10.10.2.1/32;
        10.10.10.0/24;
        10.10.20.0/24;
    }
    prefix-list TOAS10 {
        10.20.0.0/24;
        10.20.0.1/32;
    }
    policy-statement INBOUND {
        term AS10 {
            from {
                prefix-list INBOUND;
            }
            then accept;
        }
        term DROP {
            then reject;
        }
    }
    policy-statement OUTBOUND {
        term AS10 {
            from {
                protocol [ direct aggregate ];
                prefix-list TOAS10;
            }
            then accept;
        }
    }
}
security {
    forwarding-options {
        family {
            mpls {
                mode packet-based;
            }
        }
    }
}
